@model IEnumerable<Blue_Fin_Inc.Models.Livestock>

@{
    ViewData["Title"] = "Modify Livestock";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h2>Modify Livestock</h2>

<p>
    <div class="form-group">
        <a href="@Url.Action("Create", "Livestock")">
            <button class="btn btn-primary">Add New Livestock</button>
        </a>
    </div>
</p>

<form method="get" asp-action="EditIndex">
    <p>
        <input type="search" placeholder="Enter Livestock Search Term... " value="@ViewData["GetEditLivestockDetails"]" name="LiveSearch" style="width:500px" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="EditIndex" class="allBackLinks">Back to All Livestock</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @{
                    var temp = (Math.Truncate(item.Price * 100) / 100).ToString("n2");
                    @Html.DisplayFor(model => temp)
                }
            </td>
            <td>
                <a id="editLink" asp-action="Edit" asp-route-id="@item.ProductCode">Edit</a> |
                <a class="deleteLink" asp-action="Delete" asp-route-id="@item.ProductCode">Delete</a>
            </td>
            <td>
                @using (Html.BeginForm("AddStock", "Livestock", FormMethod.Post))
                {
                <p>
                    <input type="hidden" name="id" class="input-id" value="@item.ProductCode">
                    <input type="hidden" name="pName" class="input-pname" value="@item.Name">
                    <input type="number" name="stock" class="input-stock">
                    <input type="submit" value="Add Stock" class="btn btn-primary go" />
                </p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
