@model IEnumerable<Blue_Fin_Inc.Models.Livestock>

@{
    ViewData["Title"] = "Index";
}

<h2>Livestock</h2>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter Livestock Search Term... " value="@ViewData["GetLivestockDetails"]" name="LiveSearch" style="width:500px" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Back to All Livestock</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                <a href="@("http://localhost:32679/Livestock/Details/" + item.ProductCode)">
                    <img src="@("~/images/"+item.ImageName)" asp-append-version="true" width="150px" height="150px" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @{
                    var temp = (Math.Truncate(item.Price * 100) / 100).ToString("n2");
                    @Html.DisplayFor(model => temp)
                }
            </td>
            <td>
                @if (item.Stock > 0)
                {
                    @Html.ActionLink("Add to Order", "Check", "Order", new { id = item.ProductCode, productType = "Livestock" })
                }
                @if (item.Stock == 0)
                {
                    @Html.ActionLink("Zero Stock Available", "Index", new { /*id = item.ProductCode, productType = "Livestock" */})
                }
            </td>
        </tr>
}
    </tbody>
</table>