@model Blue_Fin_Inc.Models.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Picture
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/images/"+Model.ImageName)" asp-append-version="true" width="150px" height="150px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @{
                var temp = (Math.Truncate(Model.Price * 100) / 100).ToString("n2");
                @Html.DisplayFor(model => temp)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class="col-sm-2">
            L x W x H
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lenght) x @Html.DisplayFor(model => model.Width) x @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Stock > 0)
    {
        <a class="addLink" href="/Order/Check/5?productType=Livestock">Add to Order</a>
    }
    @if (Model.Stock == 0)
    {
        @Html.ActionLink("Zero Stock Available", "Index", new { /*id = item.ProductCode, productType = "Equipment" */})
    }
    |
    <a class="backLink" asp-action="Index">Back to All Equipment</a>
</div>
