@model IEnumerable<Blue_Fin_Inc.Models.Equipment>

@{
    ViewData["Title"] = "EditIndex";
}

<h2>Modify Equipment</h2>

<p>
    <div class="form-group">
        <a href="@Url.Action("Create", "Equipment")">
            <button class="btn btn-primary">Add New Equipment</button>
        </a>
    </div>
</p>
<form method="get" asp-action="EditIndex">
    <p>
        <input type="search" placeholder="Enter Equipment Search Term... " value="@ViewData["GetEditEquipmentDetails"]" name="EquSearch" style="width:500px" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="EditIndex">Back to All Equipment</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @{
                    var temp = (Math.Truncate(item.Price * 100) / 100).ToString("n2");
                    @Html.DisplayFor(model => temp)
                }
            </td>
            <td>
                <a id="editLink" asp-action="Edit" asp-route-id="@item.ProductCode">Edit</a> |
                <a class="deleteLink" asp-action="Delete" asp-route-id="@item.ProductCode">Delete</a>
            </td>
            <td>
                @using (Html.BeginForm("AddStock", "Equipment", FormMethod.Post))
                {
                <p>
                    <input type="hidden" name="id" value="@item.ProductCode">
                    <input type="number" name="stock">
                    <input type="submit" value="Add Stock" class="btn btn-primary"/>
                </p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
